:root{
    --verdeIntelbras: #00a335;
    --cinzaClaro: #8b979f; 
    --cinzaEscuro: #343434;
    --preto: #222;
    --branco: #FFF;

    --backgruoundColor: var(--branco);
    --borderColor: var(--cinzaEscuro);
    --fontColor: var(--cinzaClaro);
}

