:root{
    --verdeIntelbras: #00a335;
    --cinzaClaro: #CCC; 
    --cinzaEscuro: #343434;
    --preto: #222;
    --branco: #FFF;

    --backgruoundColor: var(--branco);
    --borderColor: var(--cinzaEscuro);
    --fontColor: var(--cinzaClaro);

    --modalColor: red;
}

nav{
    height: 3em;
    width: 100vw;
    padding: 1em;
    display: flex;
    border-bottom: 2px solid var(--borderColor);
}

nav div{
    height: 100%;
    width: calc(50% - 1em);
    display: flex;
    align-items: center;
}

div img, div a{
    height: 100%;
}

#right{
    flex-direction: row-reverse;
}

#right a{
    height: 70%;
    margin-left: 1em;
}

aside{
    border-right: 2px solid var(--borderColor);
    width: 3em;
    height: 100vh;
    position: fixed;
    padding: 0.5em;
}

aside img{
    width: 2em;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

aside #botãoHome{
    background-color: #00000020;
}

aside img:hover{
    cursor: pointer;
}

main{
    width: calc(100vw - 6em);
    height: calc(100vh - 7em);
    position: fixed;
    left: 5em;
    top: 6em;
}

.title{
    height: 7em;
    width: 100%;
    color: var(--fontColor);
}

.content{
    height: calc(100% - 7em);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--fontColor);
}

.left{
    padding-right: 0.5em;
    height: 80%;
    width: 40%;
}

.right{
    padding-left: 0.5em;
    width: 60%;
}

.grid{
    display: grid;
    grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    grid-template-rows: calc(50% - 0.5em) calc(50% - 0.5em);
    gap: 1em;
}

#homeContent .grid{
    height: 50%;
    width: 30%;
}

#homeContent .grid .alertBox{
    padding: 1em;
    border-radius: 8px;
    height: calc(100% - 2em);
    background-color: #00000020;
}

#homeContent .right{
    height: fit-content;
}

.alertBox .alertTitle{
    display: flex;
    width: 100%;
    height: 2em;
    align-items: center;
}

.alertTitle img{
    margin-right: 1em;
}

.alertContent{
    height: calc(100% - 2em);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertContent h1{
    font-size: 300%;    
}

.alertContent h4{
    font-size: 100%;    
}

#homeContent #graph{
    display: flex;
    justify-content: right;
    align-items: center;
}

#homeContent #graph img{
    width: 70%;
    height: auto;
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 1em;
}

.details{
    text-align: right;
}

.details a{
    color: #00a335;
    text-decoration: none;
    font-size: 125%;
}

.details a:hover{
    text-decoration: underline;
}

#posturaContent svg{
    height: 100%;
}

/* .indicador:hover{
    cursor: pointer;
} */

#model{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#info{
    background-color: #00000020;
    border-radius: 8px;
    padding: 1em;
    width: 50%;
    height: 70%;
}

#info .grid{
    gap: 1em;
    height: 100%;
    width: 100%;
}

.grid .sensorBox{
    background-color: var(--backgruoundColor);
    padding: 1em;
    border-radius: 8px;
}

.grid .sensorBox h2{
}

.grid .sensorBox p{
    width: 100%;
}

.grid .sensorBox .center{
    text-align: center;
    font-size: 200%;
    margin: 1em 0;
}

.grid .sensorBox strong{
    color: var(--verdeIntelbras);
}

#postura, #alertas, #config{
    display: none;
}

#modal{
    height: 100%;
    width: 100%;
    background-color: #00000060;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal #modalContent{
    height: 50vh;
    width: 60vh;
    background-color: var(--backgruoundColor);
    border: 3px solid;
    border-color: var(--modalColor);
}

#modalContent #text, #buttons{
    width: 100%;
}

#modalContent #text{
    height: calc(100% - 6em);
}

#modalContent #text img{
    height: 25%
}

#modalContent #buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 6em;
}

#modalContent #buttons button{
    font-size: 1.5em;
    width: 35%;
    padding: 0.2em;
    background-color: transparent;
    border: 3px solid var(--modalColor);
}

#modalContent #buttons button:hover{
    cursor: pointer;
}

#modalContent #buttons #left{
    color: var(--modalColor);
}

#modalContent #buttons #right{
    background-color: var(--modalColor);
    color: var(--branco);
}