:root{
    --verdeIntelbras: #00a335;
    --cinzaClaro: #8b979f; 
    --cinzaEscuro: #5d7e8b;
    --preto: #222;
    --branco: #FFF;

    --backgruoundColor: var(--branco);
    --borderColor: var(--preto);
    --fontColor: var(--cinzaClaro);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;                                                                                                                                                                                                                                                                                                                                                                                                                                             
    transition: 0.4s; 
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--backgruoundColor);
}

body::-webkit-scrollbar {
    display: none;
}

.lightButton, .darkButton{
    height: 70%;
}

.lightButton{
    display: none;
}