*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}