*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    
}

nav{
    width: 100vw;
    height: 2em;
    padding: 15px;
    display: flex;
    position: fixed;
    box-shadow: -20px -20px 40px #000000;
}

nav div{
    display: flex;
}

a{
    text-decoration: none;
    color: #00a335;
}

#logo{
    width: 30%;
}

#logo img{
    height: 1.7em;
}

#logo div{
    margin-top: 0.6em;
    margin-left: 0.6em;
    align-items: center;
    justify-content: center;
    color: #8b979f;
}

#buttons{
    flex-direction: row-reverse;
    padding-top: 0.4em;
    width: 68%;
}

#buttons a{
    height: 100%;
    margin-left: 1.3em;
    transition: 0.4s;
}

#buttons a:hover{
    color: #8b979f;
}

#buttons li{
    list-style-type: none;
    width: fit-content;
    float: left;
}

#buttons .button{
    color: #FFF;
    background-color: #00a335;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

main{
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#buttons .button:hover{
    color: #d6dfe1;
    background-color: #00863F;
}

#title{
    padding-top: 5em;
    height: 10em;
}

#title h1{
    color: #507888;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.07em;
    font-weight: 600;
}

strong{
    color: #00a335;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service{
    text-align: center;
    height: 255px;
    margin: 3em 7em;
}

.service h2{
    margin-top: 0.5em;
    width: 225px;
    height: fit-content;
    color: #8b979f;
    font-weight: 500;
}